<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scrollmenu">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">7:15-8:05</th>
      <th scope="col">8:05-8:55</th>
      <th scope="col">8:55-9:45</th>
      <th scope="col">9:45-10:35</th>
      <th scope="col">10:35-11:25</th>
      <th scope="col">11:25-12:15</th>
      <th scope="col">12:15-1:05</th>
      <th scope="col">1:05-1:55</th>
      <th scope="col">1:55-2:45</th>
      <th scope="col">2:45-3:35</th>
    </tr>
  </thead>
  <tbody>
  
      <tr  *ngFor="let p of posts;let i=index;">
  
      <th scope="row">{{p.days}}</th>
      <td >{{p.seven15eight05}}</td>
      <td >{{p.eight05eight55}}</td>
      <td >{{p.eight55nine45}}</td>
      <td >{{p.nine45ten35}}</td>
      <td >{{p.ten35eleven25}}</td>
      <td >{{p.eleven5twelve15}}</td>
      <td >{{p.twelve15one05}}</td>
      <td >{{p.one5one50}}</td>
      <td >{{p.one50two45}}</td>
      <td >{{p.two45three35}}</td>
      <td >{{p.roomno}}{{i+1}}</td>
  
  
  
  
  </tr>
  <br>
  
      </tbody>
    </table>
  </div>
  
  <!-- <ion-card>
    <ion-list>
        <ion-item href="#" class="activated"  *ngFor="let p of posts">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>{{p.roomno}}</ion-label>
          </ion-item>
  
    </ion-list>
    </ion-card> -->
</ion-content>
