<ion-header>
  <ion-toolbar>
    <ion-title>
      Course Enrolled
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>micro</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Maths</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>epp</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>eadd</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>physics</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
