<ion-header no-border>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-title [ngStyle]="">

<!-- 
        <ion-buttons slot="start">
            <ion-button> -->
              <ion-icon  name="menu"></ion-icon>
            <!-- </ion-button>
</ion-buttons> -->
       

    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content class="background" fullscreen >
  <div class="ion-padding">

HOME-PAGE
<p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
